# Ignore everything by default
*

# But don't ignore these specific files
!.gitignore
!README.md
!sample.graphql
!sample_updated.graphql
!example_spec_registry_workflow.sh
# no longer track a YAML units file
